/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.logo{
    height: 9.3em;
}

.video{
  margin: 50px;
}

.heading{
  background-color: white;
}

.recent{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  text-decoration: underline;
  color: #374458;
  position: absolute;
  top: 45px;
  margin: 0px 0px 0px 0px;
}

.recent-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

.recent-underlay{
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

.professional{
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  text-decoration: underline;
  color: #374458;
  position: absolute;
  margin: 0px 0px 0px 0px;
  top: 70px;
}

.professional-underlay{
  height: 160px;
  width: 160px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
  position: absolute;
}

.professional-container{
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 170px;
}
.about-me-head{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  text-decoration: underline;
  margin: 10px 10px 20px 10px;
  color: #374458;
}

.no-shadow{
  box-shadow: none!important;
}

.navbar-title{
  text-align: center;
  position: absolute;
  color: #374458;
  display: inline-block;
  width: 100%;
  text-decoration: underline;
}

.name{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 5px;
  margin-top: 30px;
  color: #374458;
  font-size: 2.6em;
}

.intro{
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  color: #374458;
}

.intro-head{
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-decoration: underline;
}

.link{
  font-family: 'Roboto', sans-serif;
}

.banner{
  min-height: 500px;
}

.banner2{
  min-height: 500px;
}

.card-text{
  font-size: .85em;
}

.page-footer{
  background-color: #374458;
}

.image{
  margin-top: 5px;
}

.title{
  font-size: 18px !important;
}

.card-pic-height{
  height: 220px;
}

.card-height{
  min-height: 695px;
}

.projects-body{
  font-family: 'Roboto', sans-serif;
}

.prof-text{
  color: #374458;
}

.line-height{
  line-height: 1.5;
}

.about-me{
  padding: 70px !important;
}

.about-me-bod{
  font-family: 'Roboto', sans-serif;
  color:  #374458;
}

.about-row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.contact-head{
  font-family: 'Roboto', sans-serif;
  font-size: 1.6em;
  text-decoration: underline;
  margin: 10px 10px 20px 0px;
  color: white;
}

.contact-bod{
  font-family: 'Roboto', sans-serif;
  color: white;
}
.contact-section{
  font-family: 'Roboto', sans-serif;
}